<footer class="footer-section">
  <div class="footer_top_row">
    <div class="footer_nav_group">
      <div class="footer_menu_item"><a href="#hem">Hem</a></div>
      <div class="footer_menu_item"><a href="#portfolio">Portfolio</a></div>
      <div class="footer_menu_item"><a href="#about">Om mig</a></div>
      <div class="footer_menu_item"><a href="#contact">Kontakt</a></div>
    </div>

    <div class="footer_logo_group">
      <div class="footer_logo">Elange<br />Mparara</div>
    </div>

    <div class="footer_social_group">
      <a href="#" class="social_link"
        ><img src="assets/icons/instagram.svg" alt="Instagram"
      /></a>
      <a href="#" class="social_link"
        ><img src="assets/icons/github.svg" alt="GitHub"
      /></a>
      <a href="#" class="social_link"
        ><img src="assets/icons/linkedin.svg" alt="LinkedIn"
      /></a>
    </div>
  </div>

  <div class="footer_bottom_row">
    <p class="footer_copyright">Elangedesigns@ 2026. All rights reserved.</p>
  </div>
</footer>
