<header class="header">
  <div class="header__container">
    <a href="#" class="header__logo">
      <p class="mb-0">Elange</p>
      <p>Mparara</p>
    </a>
    <nav class="header__nav">
      <div class="header__nav-item active">
        <a href="#hem" class="header__link">Hem</a>
      </div>
      <div class="header__nav-item">
        <a href="#portfolio" class="header__link">Portfolio</a>
      </div>
      <div class="header__nav-item">
        <a href="#om-mig" class="header__link">Om mig</a>
      </div>
      <div class="header__nav-item">
        <a href="#kontakt" class="header__link">Kontakt</a>
      </div>
    </nav>

    <button class="header__toggle" aria-label="Open menu">
      <img src="assets/icons/mobile-menu.svg" alt="" />
    </button>
  </div>

  <div class="mobile-menu hidden">
    <div class="mobile-menu__header">
      <div class="header__logo">Elange <br />Mparara.</div>
      <button class="header__close" aria-label="Close menu">
        <img src="assets/icons/mobile-close.svg" alt="" />
      </button>
    </div>
    <nav class="mobile-menu__nav">
      <a href="#hem" class="mobile-menu__link">Hem</a>
      <a href="#portfolio" class="mobile-menu__link">Portfolio</a>
      <a href="#om-mig" class="mobile-menu__link">Om mig</a>
      <a href="#kontakt" class="mobile-menu__link">Kontakt</a>
    </nav>
  </div>
</header>
